body {
    background-color:burlywood;
    color: black;
    align-items: center;
    text-indent: 120px;
    font-size: 25px;
  }
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid;
  }
  th, td {
    padding: 15px;
    text-align: center;
    width: 20px;
  }